@use '@angular/material' as mat;

@use '../../app-theme';

// Define the material themes.
$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

@include mat.color-variants-backwards-compatibility($theme);

:root {
  @include mat.all-component-themes($theme);
  @include app-theme.theme($theme);
}
